<center><h1>Congratulations <%= current_user.name %>!</h1> 
  <h2>you've completed the round!</h2></center>


<div class ="final-stat">

<h4><%= current_user.name %>, here is the result for the <%= @round.deck.name %> deck:</h4>

<table border="1">
  <tr>
    <th> Correct </th>
    <th> Incorrect</th>
    <th>Total Score</th>
  </tr>
  <tr>
    <td><%= @round_statistics[0] %></td>
    <td><%= @round_statistics[1] %></td>
    <td><%= @round_statistics[2] %>%</td>
  </tr>
</table>

  <center><img src="/img/finish.jpg" alt="Smiley face" height="300" width="300"></center><br>


</div>
